<%- include header %>
<div class="container">
    <h1 class="writer"><%= title%></h1>
    <div class="main">
        <div class="row project-items">
            <div class="col-xs-12 col-sm-6">
                <img class="img-responsive" src="/images/Profile.jpg" alt="blog"/>
            </div>
            <div class="col-xs-12 col-sm-5 project-description">
                <h2>Tianheng Zhou: Web Developer</h2>
                <p>
                    I'm a full Stack Web Developer. I'm expert in both front-end and back-end web development.
                </p>
                <p>
                    Also, I have a lot of experience with selenium web driver while I'm working at Google Fiber team as
                    a vendor.
                </p>
                <p>
                    Web development has been a dream to me since I was a child. After I took the front-end web
                    development class from Udacity I felt that dream is closer than before.
                </p>
                <p>
                    My passion for web development is in learning new technologies such as MEAN stack and building
                    helpful and beautiful applications. If you have demand for both front-end and back-end
                    development then that's where I come in with my MEAN stack knowledge. Also, the experience
                    working at Google Fiber team gives me great knowledge on selenium web driver, better python
                    coding style and programming in cloud.
                </p>

                <p>
                    MEAN stack is a free and open-source JavaScript software stack for building dynamic web sites
                    and web applications.The MEAN stack makes use of MongoDB, Express.js, Angular.js, and Node.js.
                </p>
                <p>
                    <strong>Specialties</strong>: Responsive design, MEAN stack, TDD, Google Maps API, Yelp API,
                    Full stack web development, selenium web driver.
                </p>
                <a class="btn btn-default" href="/resume.pdf" download="tianhengzhou.pdf">Download Resume</a>
                <a class="btn btn-default" href="https://github.com/tianhengzhou"><i class="fa fa-github"></i>Github Profile</a>
            </div>
        </div>
    </div>
</div>
<%- include footer %>