<%- include header %>
<div ng-app="myApp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div ng-controller="customersCtrl">
                    <div class="row ">
                        <div class="col-sm-3 ">
                            <div class="col-sm-12">
                                <label for="search">Search:</label>
                                <input type="text" ng-model="query" id="search" class="form-control" placeholder="Search text"/>
                            </div>
                            <div class="col-sm-12">
                                <label for="search">items per page:</label>
                                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize"/>
                            </div>
                            <div ng-controller="categoriesCtrl" class="col-sm-12">
                                <ul class="list-unstyled">
                                    <li ng-repeat="category in categories">
                                        {{ category }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">All Posts</div>
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <li dir-paginate="post in posts | filter:query | itemsPerPage: pageSize" current-page="currentPage">
                                            <h4>{{post.title}}</h4>
                                            <span class="label label-danger">{{post.category}}</span>
                                            <p>{{post.content | limitTo: 10}}...</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                    <dir-pagination-controls boundary-links="true" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

<%- include footer %>