<%- include header %>
<div ng-app="myApp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div ng-controller="customersCtrl">
                    <div class="row ">
                        <div class="col-sm-3">
                            <div class="col-sm-12">
                                <label for="search">Search Title:</label>
                                <input type="text" ng-model="query" id="search" class="form-control" placeholder="Search text"/>
                            </div>
                            <div class="col-sm-12">
                                <label for="pageSize">items per page:</label>
                                <input id='pageSize'type="number" min="1" max="100" class="form-control" ng-model="pageSize"/>
                            </div>
                            <div class="col-sm-12 category">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Categories</div>
                                    <div class="panel-body">
                                        <div class="col-sm-12">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a ng-click="categoryquery('')" class="btn btn-link">All</a>
                                                </li>
                                                <li ng-repeat="category in categories">
                                                    <a ng-click="categoryquery(category)" class="btn btn-link">{{ category }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="panel panel-primary">
                                <div class="panel-heading">All Posts
                                    <a class="btn btn-primary btn-sm" ng-click="sortType = 'pv'; sortReverse = !sortReverse; showflag_pv = !showflag_pv">PV<i ng-show="!showflag_pv" class="fa fa-caret-down"></i><i ng-show="showflag_pv" class="fa fa-caret-up"></i></a>

                                    <a class="btn btn-primary btn-sm" ng-click="sortType = 'time_for_sort'; sortReverse = !sortReverse; showflag_time = !showflag_time">Time<i ng-show="!showflag_time" class="fa fa-caret-down"></i><i ng-show="showflag_time" class="fa fa-caret-up"></i></a>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <li dir-paginate="post in posts | filter:{title: query} | filter:{category: categoryq} | itemsPerPage: pageSize | orderBy: sortType:sortReverse" current-page="currentPage" class="post">
                                            <i ng-if="post.top" class="fa fa-heart"></i><h4 class="title"><a href="/p/{{post._id}}">{{post.title | limitTo: 20}}</a></h4>
                                            <span class="label label-danger categoryLabel">{{post.category}}</span>
                                            <div class="date">{{post.time}} </div>
                                            <div class="pv">PV: {{post.pv}} |</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center">
                                    <dir-pagination-controls boundary-links="true" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include footer %>