<%- include header.ejs%>
<div class="container">
    <h1 class="writer"><%= title%></h1>
    <div ng-app="myApp" class="main">
    <div ng-controller="customersCtrl">
        <div class="row">
            <div class="col-md-offset-1 col-xs-7">
                <div dir-paginate="post in posts | filter:{title: query} | filter:{category: categoryq} | itemsPerPage: 3 | orderBy: sortType:sortReverse" current-page="currentPage" class="post" ng-cloak>
                    <p>
                    <h2>
                        <a href="/p/{{post._id}}">{{post.title}}</a>
                    </h2>
                    </p>
                    <p class="info">
                        {{post.time}}
                        <span> by </span>
                        <a href="/u/{{post.name}}">{{post.name}}</a>

                    </p>
                    <p>
                        Page View: {{post.pv}}
                        <span class="label label-danger">
                            <a href="/{{post.category}}" style="color:white">{{post.category}}</a>
                        </span>
                    </p>
                    <div ng-bind-html="post.content | sanitize"></div>
                </div>
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <p><strong>Search Title</strong></p>
                    <div class="col-xs-10">
                        <input type="text" ng-model="query" id="search" class="form-control" placeholder="Search text"/>
                    </div>
                </div>
                <div class="row">
                    <p><strong>Categories</strong></p>
                    <ul>
                        <li>
                            <a ng-click="categoryquery('')" href="#">All</a>
                        </li>
                        <li ng-repeat="category in categories">
                            <a ng-click="categoryquery(category)" href="#">{{ category }}</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <p><strong>Latest Article</strong></p>
                    <ul>
                        <li ng-repeat="article in articles | orderBy: time"><a href="/p/{{article._id}}">{{article.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%- include footer.ejs%>