<%- include header %>
<main class="mdl-layout__content" style="margin: 0 auto">
    <div class="mdl-cell mdl-cell--12-col">
        <h4>Get In Touch</h4>
    </div>
    <form method="post" role="form">
        <div class="form-group">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="email" class="mdl-textfield__input" name="_replyto" />
                    <label class="mdl-textfield__label" for="email">Your Email</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" rows= "5" id="message" name="message"></textarea>
                    <label class="mdl-textfield__label" for="message">Your Message</label>
                </div>
            </div>
        </div>
        <input type="hidden" name="_next" value="http://thzlab.herokuapp.com/thanks"/>
        <input type="text" name="_gotcha" style="display:none">
        <button type="submit" value="Send" id="send" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
            Send
        </button>
    </form>
    <div class="mdl-cell mdl-cell--12-col">
        <a class="mdl-button" href="/resume.pdf" download="tianhengzhou.pdf">Download Resume</a>
        <a class="mdl-button" href="https://github.com/tianhengzhou">Github Profile</a>
    </div>
</main>

<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer--left-section">
        <button class="mdl-mini-footer--social-btn social-btn social-btn__linkedin">
            <span class="visuallyhidden" href="https://www.linkedin.com/in/tianhengzhou">LinkedIn</span>
        </button>
    </div>
</footer>
<%- include footer %>