<%- include header %>
<form method="post" role="form">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" name="title" value="<%= post.title%>"/>
    </div>
    <% if (locals.user.name == 'zth198814'){ %>
    <div class="form-group">
        <div class="radio">
            <label for="top"><input type="radio" name="top" <% if (post.top == 1){%> checked<%}%>/>Feature Post</label>
        </div>
        <label for="category">Categories: </label>
        <select name="category" id="categories">
            <option value="angualar" <% if (post.category == 'angular'){%> selected <%}%>>Angular.js</option>
            <option value="frontend" <% if (post.category == 'frontend'){%> selected <%}%>>Front End</option>
            <option value="mongodb" <% if (post.category == 'mongodb'){%> selected <%}%>>MongoDB</option>
            <option value="node" <% if (post.category == 'node'){%> selected <%}%>>Node.js</option>
            <option value="express" <% if (post.category == 'express'){%> selected <%}%>>Express.js</option>
            <option value="misc" <% if (post.category == 'misc'){%> selected <%}%>>Misc</option>
        </select>
    </div>
    <% } %>
    <div class="form-group">
        <label for="content">Content:</label>
        <textarea name="content" class="form-control" rows="5"><%= post.content%></textarea>
    </div>
    <input type="submit" class="btn btn-default" value="Save"/>
</form>
<%- include footer %>