<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.css" />
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

<div class="blog mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="blog__header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <span class="desktop-title mdl-layout-title">
                <img class="android-logo-image" src="/images/thzlab.png">
            </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search-field">
                </div>
            </div>
            <span class="mobile-title mdl-layout-title">
                <img class="android-logo-image" src="/images/thzlab.png">
            </span>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">Home</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/blog">Blog</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/project">Project</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/about">About Me</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/contact">Contact</a>
                <% if (!locals.user){%>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login">Login</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/reg">Register</a>
                <%} else{%>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/post">Post</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/logout">Logout</a>
                <% } %>
            </nav>
        </div>
    </div>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="/images/thzlab.png">
        </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Home</a>
            <a class="mdl-navigation__link" href="/blog">Blog</a>
            <a class="mdl-navigation__link" href="/project">Project</a>
            <a class="mdl-navigation__link" href="/about">About Me</a>
            <a class="mdl-navigation__link" href="/contact">Contact</a>
            <% if (!locals.user){%>
            <a class="mdl-navigation__link" href="/login">Login</a>
            <a class="mdl-navigation__link" href="/reg">Register</a>
            <%} else{%>
            <a class="mdl-navigation__link" href="/post">Post</a>
            <a class="mdl-navigation__link" href="/logout">Logout</a>
            <% } %>
        </nav>
    </div>
    <main class="mdl-layout__content">

        <div class="android-be-together-section mdl-typography--text-center">
            <div class="logo-font android-slogan">Hi, I'm Tianheng Zhou.</div>
            <div class="logo-font android-sub-slogan">I am a Full Stack Web Developer.</div>
            <a href="#screens">
                <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                    <i class="material-icons">expand_more</i>
                </button>
            </a>
        </div>
        <a name="screens"></a>
        <div class="android-more-section">
            <div class="android-section-title mdl-typography--display-1-color-contrast">Projects</div>
            <div class="android-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="images/blog.jpg">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">THZ Blog</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">A blog web applicaiton built with MEAN Stack</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/blog">
                            THZ BLOG
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="images/yelpsheet.jpg">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Yelp Sheet</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">A SPA built with Google Maps API, Yelp API and Knock.js.</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://yelpsheet.herokuapp.com">
                            YELP SHEET
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="images/Google_fiber_logo.jpg">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Google Fiber SCM
                            Stress Test</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light
                        mdl-typography--subhead">A stress test for Google Fiber
                            SCM portal.</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://github.com/tianhengzhou/SCM-Stress-Test">
                            SCM UI Stress Test
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="images/Google_fiber_logo.jpg">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Google Fiber SCM UI Checker</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">A Selenium webdriver automation test for Google Fiber SCM portal.</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://github.com/tianhengzhou/SCM-Regression-test">
                            SCM UI Checker
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="images/Google_fiber_logo.jpg">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">Google Fiber CPE WiFi Feature Test</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead">An automation test for Google Fiber WiFi features via python Fabric library.</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://github.com/tianhengzhou/WiFi-AutoDisable-Feature-Test">
                            WiFi Feature Test
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include footer %>