<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <meta property="qc:admins" content="35003737402441260527351006375" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bower_components/fontawesome/css/font-awesome.min.css' />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="type" id="type"></p>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-xs-6 col-sm-3 text-center"><a href="/blog" class="btn btn-lg btn-link">Blog</a></div>
            <div class="col-xs-6 col-sm-3 text-center"><a href="/project" class="btn btn-lg btn-link">Projects</a></div>
            <div class="col-xs-6 col-sm-3 text-center"><a href="/about" class="btn btn-lg btn-link">About</a></div>
            <div class="col-xs-6 col-sm-3 text-center"><a href="/contact" class="btn btn-lg btn-link">Contact</a></div>
        </div>
        <div class="row large-display">
            <div class="col-xs-12 col-sm-6">
                <div ng-app="myApp">
                    <div ng-controller="customersCtrl" class="text-center">
                        <h3>Feature Articles</h3>
                        <div class="blog-title">
                            <ul>
                                <li ng-repeat="article in articles | filter:{top: 1 }">
                                    <a href="/p/{{article._id}}">{{article.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <h3>Feature Project</h3>
                <div class="col-xs-12">
                    <img class="img-responsive" src="/images/blog.jpg" alt="blog"/>
                    <a href="/project" class="btn btn-lg btn-link">A MEAN Stack Blog</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/typed.min.js"></script>
<script src="/js/dirPagination.min.js"></script>
<script src="/js/script.min.js"></script>
<script>
    $('.close').click(function(){
        $(this).parent().removeClass('in');
    });
    /**
     * Created by tianhengzhou on 10/6/15.
     */
    $(document).ready(function(){var $el = $('.writer'),
            txt = $el.text(),
            txtLen = txt.length,
            timeOut,
            char = 0;

        $el.text('|');
        (function typeIt() {
            var humanize = Math.round(Math.random() * (100 - 30));
            timeOut = setTimeout(function() {
                char++;
                var type = txt.substring(0, char);
                $el.text(type + '|');
                typeIt();

                if (char == txtLen) {
                    $el.text($el.text().slice(0, -1)); // remove the '|'
                    clearTimeout(timeOut);
                    $('.main').fadeTo('slow',1)
                }
            }, humanize);
        }());});


    $(function(){
        $(".type").typed({
            strings: ["Tianheng Tim Zhou <br/> Web Developer"],
            typeSpeed: 30,
            showCursor: false,
            callback: function() {
                fadeMain()
            }
        });
    });
    function fadeMain(){
        $('.main').fadeTo('slow',1)
    }
    $(document).ready(function() {
        $('a.btn').click(function (event) {
            event.preventDefault();
            var href = this.href;
            $('.container').animate({
                        opacity: '0'
                    }, 400, function () {
                        //want to use callback function to load the page....
                        window.location = href;
                    }
            );
        });
    });
</script>
</body>
</html>