<%- include header.ejs%>
Welcome to THZLAB
<div ng-app="myApp">
    <div ng-controller="customersCtrl">
        <div dir-paginate="post in posts | itemsPerPage: pageSize | orderBy: sortType:sortReverse" current-page="currentPage" class="post">
            <p><h2><a href="/p/{{post._id}}">{{post.title}}</a></h2></p>
            <p>
                Page View: {{post.pv}}
                <span class="label label-danger">
                    {{post.category}}
                </span>
            </p>
            <p class="info">
                Author: <a href="/u/{{post.name}}">{{post.name}}</a>
                Date: {{post.time}}
            </p>
            <div ng-bind-html="post.content | sanitize"></div>
        </div>
    </div>
</div>
<%- include footer.ejs%>