<%- include header%>
<form method="post">
    Username: <input type="text" name="name"/><br>
    Password: <input type="text" name="password"/><br>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<%- include footer%>
