<%- include header%>
<main class="mdl-layout__content" style="margin: 0 auto">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h4>Login</h4>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
            <form method="post" role="form">
                <div class="mdl-cell mdl-cell--10-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="username" class="mdl-textfield__input" name="name" />
                        <label class="mdl-textfield__label" for="username">Username</label>
                    </div>
                    <div id="usernameError" class="login-error"></div>
                </div>

                <div class="mdl-cell mdl-cell--10-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="password" class="mdl-textfield__input" type="password" name="password" />
                        <label class="mdl-textfield__label" for="password">Password</label>
                    </div>
                    <div id="passwordError" class="login-error"></div>
                </div>

                <div class="mdl-cell mdl-cell--10-col">
                    <button type="submit" value="Login" id="login" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        Login
                    </button>
                    <button href="/login/github" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        GitHub Login
                    </button>
                    <!--<button id="forgot" type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;raised">-->
                        <!--Forgot Password-->
                    <!--</button>-->
                </div>
            </form>
        </div>
    </div>
</main>
<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer--left-section">
        <button class="mdl-mini-footer--social-btn social-btn social-btn__linkedin" onclick="location.href='https://www.linkedin.com/in/tianhengzhou'">
        </button>
    </div>
</footer>
<%- include footer%>
