<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Tianheng Zhou" />
    <meta name="description" content="Tianheng Zhou's Personal Portfolio" />
    <meta name="keywords"  content="fullpage,jquery,portfolio" />
    <meta name="Resource-type" content="Document" />
    <link rel="stylesheet" type="text/css" href="/js/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.fullPage.css" />
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Tianheng Zhou's Portfolio</title>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="/js/isotope.min.js"></script>
    <script type="text/javascript" src="/js/portfolio.js"></script>
</head>
<body>
 <div class="loader">
     <img src="/images/loader.gif" alt="loader"/>
 </div>
 <div class="content">
    <div id="fullpage">
        <div class="section">
            <div class="profile">
                <img src="/Profile.jpg" alt="Profile"/>
            </div>
        </div>
        <div class="section">
            Some section
        </div>
        <div class="section">
            Some section
        </div>
    </div>
 </div>
</body>
</html>