<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Tianheng Zhou" />
    <meta name="description" content="Tianheng Zhou's Personal Portfolio" />
    <meta name="keywords"  content="fullpage,jquery,portfolio" />
    <meta name="Resource-type" content="Document" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans
">
    <link rel="stylesheet" type="text/css" href="/js/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.fullPage.css" />
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Tianheng Zhou's Portfolio</title>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="/js/isotope.min.js"></script>
    <script type="text/javascript" src="/js/portfolio.js"></script>
</head>
<body>
 <div class="loader">
     <img src="/images/loader.gif" alt="loader"/>
 </div>
 <div class="content">
    <div id="fullpage">
        <div class="section" id="intro">
            <div class="profile">
                <img src="/Profile.jpg" alt="Profile"/>
                <h1>My Name is Tianheng Zhou</h1>
            </div>
        </div>
        <div class="section" id="work">
            <div class="container">
                <h1>My works</h1>
                <ul>
                    <li><button>All</button></li>
                    <li><button>Web App</button></li>
                    <li><button>Static Single Page</button></li>
                    <li><button>jQuery & JavaScript</button></li>
                </ul>
                <div class="grid">
                    <div class="grid-item">
                        <img src="" alt=""/>
                        <div>
                            <h3>123</h3>

                            <p>123</p>
                            <br/>
                            <br/>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="" alt=""/>
                        <div>
                            <h3>123</h3>

                            <p>123</p>
                            <br/>
                            <br/>
                            <a href="">123</a>
                            <a href="">123</a>
                        </div>
                    </div>
                    <div class="grid-item">
                        <img src="" alt=""/>
                        <div>
                            <h3></h3>

                            <p></p>
                            <br/>
                            <br/>
                            <a href=""></a>
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="contact">
            Some section
        </div>
    </div>
 </div>
</body>
</html>