<%- include header %>
<div class="container">
    <h1 class="writer"><%= title%></h1>
    <div class="main">
        <div class="row project-items">
            <div class="col-xs-12 col-sm-6">
                <img class="img-responsive" src="/images/blog.jpg" alt="blog"/>
            </div>
            <div class="col-xs-12 col-sm-5 project-description">
                <h2>THZ Blog</h2>
                <ul>
                    <li>Created a blog web app hosted on Heroku via AngularJs, ExpressJs, NodeJs and MongoDB.</li>
                    <li>Developed an authentication system to allow users log in and make their post.</li>
                    <li>Implemented a session feature to store current user log in session.</li>
                    <li>Utilized TypedJs to get a typewriter animation on Home page.</li>
                    <li>Technologies used: AngularJs, NodeJs, ExpressJs, MongoDB, Heroku VPS.</li>
                </ul>
                <a class="btn btn-primary" href="http://thzlab.herokuapp.com/blog">Demo</a>
                <a class="btn btn-primary" href="https://github.com/tianhengzhou/myblog/blob/master/views/blog.ejs">Code</a>
            </div>
        </div>
        <div class="row project-items">
            <div class="col-xs-12 col-sm-6">
                <img class="img-responsive" src="/images/yelpsheet.jpg" alt="yelpsheet"/>
            </div>
            <div class="col-xs-12 col-sm-5 project-description">
                <h2>Yelp Sheet</h2>
                <ul>
                    <li>Designed  a Single-page, responsive application built with KnockoutJs framework and hosted on Heroku VPS.</li>
                    <li>Developed a full-page map that loads with surrounding  business locations based on users search term.</li>
                    <li>Created a map info box to display  the most recent review at each location.</li>
                    <li>Utilized TypedJs to get a typewriter animation on Home page.</li>
                    <li>Technologies used: KnockoutJs, NodeJs, ExpressJs, Google Maps API, Yelp API, Heroku VPS.</li>
                </ul>
                <a class="btn btn-primary" href="https://yelpsheet.herokuapp.com">Demo</a>
                <a class="btn btn-primary" href="https://github.com/tianhengzhou/FE-Nano-P5-Neightborhood-Map">Code</a>
            </div>
        </div>
        <div class="row project-items">
            <div class="col-xs-12 col-sm-6">
                <img class="img-responsive" src="/images/Google_fiber_logo.png" alt="yelpsheet"/>
            </div>
            <div class="col-xs-12 col-sm-5 project-description">
                <h2>Google Fiber SCM UI checker</h2>
                <ul>
                    <li>Created a set of script to automatically test Google Fiber SCM (Service and Configuration Manager) portal via selenium web driver.</li>
                    <li>Developed user interface and argument parse to choose test or set parameters.</li>
                    <li>Developed a class to automatically generate ticket in order to bypass Google Single Sign-On log in.</li>
                    <li>Imported the code into google3 code base and modified to be able to run on cloud.</li>
                    <li>Technologies used: Python, Selenium web driver.</li>
                </ul>
                <a class="btn btn-primary" href="https://github.com/tianhengzhou/SCM-Regression-test">Code</a>
            </div>
        </div>
        <div class="row project-items">
            <div class="col-xs-12 col-sm-6">
                <img class="img-responsive" src="/images/Google_fiber_logo.png" alt="yelpsheet"/>
            </div>
            <div class="col-xs-12 col-sm-5 project-description">
                <h2>Google Fiber CPE WiFi Feature Test</h2>
                <ul>
                    <li>Designed a script to automatically execute test commands on remote devices.</li>
                    <li>Developed a script to automatically upgrade image on devices.</li>
                    <li>Created script to read command output and decide the result of test run.</li>
                    <li>Working on import script into google3 codebase.</li>
                    <li>Technologies used: Fabric Library, Selenium web driver.</li>
                </ul>
                <a class="btn btn-primary" href="https://github.com/tianhengzhou/WiFi-AutoDisable-Feature-Test">Code</a>
            </div>
        </div>
    </div>

</div>
<%- include footer %>