<%- include header%>
<main class="mdl-layout__content" style="margin: 0 auto">

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h4>Register</h4>
        </div>

        <div class="mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
            <form method="post" role="form">
                <div class="mdl-cell mdl-cell--10-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="username" class="mdl-textfield__input" name="name" />
                        <label class="mdl-textfield__label" for="username">Username</label>
                    </div>
                    <div id="usernameError" class="login-error"></div>
                </div>

                <div class="mdl-cell mdl-cell--10-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="password" class="mdl-textfield__input" type="password" name="password" />
                        <label class="mdl-textfield__label" for="password">Password</label>
                    </div>
                    <div id="passwordError" class="login-error"></div>
                </div>
                <div class="mdl-cell mdl-cell--10-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="password-repeat" class="mdl-textfield__input" type="password" name="password-repeat" />
                        <label class="mdl-textfield__label" for="password-repeat">Repeat Password</label>
                    </div>
                    <div id="passwordError" class="login-error"></div>
                </div>
                <div class="mdl-cell mdl-cell--10-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input id="email" class="mdl-textfield__input" type="email" name="email" />
                        <label class="mdl-textfield__label" for="email">Email</label>
                    </div>
                    <div id="passwordError" class="login-error"></div>
                </div>

                <div class="mdl-cell mdl-cell--10-col">
                    <button type="submit" value="Register" id="Register" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                        Register
                    </button>
                </div>
            </form>

        </div>
    </div>
</main>
<%- include footer%>