<%- include header %>
<div class="container">
    <h1 class="writer"><%= title%></h1>
    <div class="row main">
        <div class="col-xs-12">
            <p class="thanks loader">Thanks for you message, I will contact you soon.</p>
        </div>
    </div>
</div>
<%- include footer %>