body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:hover {
  text-decoration: none !important;
}
.info {
  margin-top: 5px;
}
a.btn {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.category {
  margin-top: 0.8em;
}
.post{
  border-bottom: grey 1px dotted;
  padding-bottom: 0.2em;
}
.categoryLabel{
  display: inline-block;
  position: relative;
  top: -0.3em;
  left: 0.3em;
}
.title{
  display: inline-block;
}
.date{
  float: right;
  display: inline-block;
  position: relative;
  bottom: -0.75em;

}
.pv{
  float: right;
  display: inline-block;
  position: relative;
  bottom: -0.75em;
  right: 0.3em;
}
i{
  margin-right: 0.5em;
}
/*Portfolio CSS*/
/*Intro Section*/
.loader{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.content{
  display: none;
}
.profile{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.profile img{
  border-radius: 50%;
}
.profile h1{
  font-size: 3rem;
  font-family: 'Tangerine',serif;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .profile img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .profile h1{
    font-size: 5rem;
    font-family: 'Tangerine',serif;
    margin-top: 40px;
  }
}
/*My Work Section*/
