body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a:hover {
  text-decoration: none !important;
}
.info {
  margin-top: 5px;
}
a.btn {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.category {
  margin-top: 0.8em;
}
.post{
  border-bottom: grey 1px dotted;
  padding-bottom: 0.2em;
}
.categoryLabel{
  display: inline-block;
  position: relative;
  top: -0.3em;
  left: 0.3em;
}
.title{
  display: inline-block;
}
.date{
  float: right;
  display: inline-block;
  position: relative;
  bottom: -0.75em;

}
.pv{
  float: right;
  display: inline-block;
  position: relative;
  bottom: -0.75em;
  right: 0.3em;
}
i{
  margin-right: 0.5em;
}