body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.info {
  margin-top: 5px;
}
.info a:hover {
  text-decoration: none;
}
a.btn {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.category {
  margin-top: 1em;
}